{
  "root": true,
  "extends": "proton",
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "allowImportExportEverywhere": true
 },
 "rules": {
   "require-jsdoc": 0,
   "babel/new-cap": 0,
   "camelcase": 0,
   "dot-notation": 0
 }
}
